<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <p><%= JSON.stringify(data) %></p> -->
    <input type="hidden" name="weather" id="weather" value="<%= JSON.stringify(data) %>">
    <input type="hidden" name="config" id="config" value="<%= JSON.stringify(config) %>">
    

    <form action="/weather" method="get">
      <input type="text" name="city">
      <button class="btn btn-success">apply</button>
    </form>
    <style>
      canvas{

        width:1000px !important;
        height:600px !important;
      
      }
    </style>
    
    <div>
        <canvas id="myChart"></canvas>
    </div>


   


</body>
</html>