<%- include('./header.ejs') %>


<input type="hidden" id="config" name="config" value="<%=config%> ">
<h1 class="col-xs-1 text-center">Trend's</h1>

<div class="container">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const config = document.getElementById('config').value;
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, JSON.parse(config))
    console.log(JSON.parse(config))
</script>

<%- include('./footer.ejs') %>
