<%- include('./layouts/header.ejs') %>

<div class="container">
    <div class="row">
        <h1 class=" d-flex justify-content-center">Project Previews</h1>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col">
            <h2 class="d-flex justify-content-center">Weather</h2>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/weather" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col d-flex justify-content-center">
            <h2>Covid</h2>
        </div>
    </div>
</div>


<%- include('./layouts/footer.ejs') %>