<%- include('./layouts/header.ejs') %>

<div class="container">
    <div class="row  mt-3">
        <h1 class=" d-flex justify-content-center">Project Previews</h1>
    </div>

    <div class="row d-flex justify-content-center mt-5">

        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Weather ☀</h5>
                  <p class="card-text">3 day weather forecast for cities in Special Area of Yogyakarta</p>
                  <a href="/weather" class="btn btn-primary">Check</a>
                </div>
              </div>
        </div>

        <div class="col d-flex justify-content-center mt-3">
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Covid-19 🏥</h5>
                      <p class="card-text">Visualisasi covid per provinsi</p>
                      <a href="/covid" class="btn btn-primary">Let's go</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>


<%- include('./layouts/footer.ejs') %>