<%- include('../layouts/header.ejs')  %> 

<div class="container">
    <div class="row text-center">
        <p>Data Terakhir <%= lastDate %> </p>

        <h2 id="title" class="text-uppercase">Jumlah Kasus</h2>

        <form action="" method="get" id="formFilter">
            <label for="filter">Filter By</label>
            <select name="filter" id="filter">
                <option hidden>choose</option>
                <option value="kasus">Semua Kasus</option>
                <option value="dirawat">Dirawat</option>
                <option value="sembuh">Sembuh</option>
                <option value="meninggal">Meninggal</option>
            </select>
        </form>

    </div>
</div>



<% if (config !== undefined) { %>
    <div class="container">
        <div class="row">
            <div class="col">
                <canvas id="myChart"  style="height: 10px;"></canvas>
            </div>
        </div>
        
    </div> 
<% } %>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    document.addEventListener("DOMContentLoaded", function ()  {
        const params = new URLSearchParams(location.search);

        const chart = document.querySelector('#myChart');
        const filter = document.querySelector('#filter');
        const title = document.querySelector('#title');
        
        const formFilter = document.querySelector('#formFilter');
        formFilter.addEventListener('change', () => {
            formFilter.submit()
        })
        const config = JSON.parse('<%- JSON.stringify(config) %>' )
        const myChart = new Chart(
            chart,
            config
        );

        if (params.get("filter")) {
            filter.value = params.get("filter")
            title.textContent = `JUMLAH ${params.get("filter")}`
        } 
    })


    
</script>


<%- include('../layouts/footer.ejs')  %> 